*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    margin: 20px 8px;
    padding: 2px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(151 148 148);
    border-radius: 20px;
}

nav{
    margin: 15px -15px;
    padding: 2px 23px;
    background-color: rgba(41, 99, 167, 0.884);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

body{
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



img.MABA{
    width: 160px;
    height: 100px;
    border-radius: 15px;
    margin: 4px -13px;
}

img.ImagIni{
    width: 350px;
    height: 313px;
    border-radius: 15px;
    margin: 4px -13px;
    
}

img.ImagNos{
    width: 300px;
    height: 260px;
    border-radius: 15px;
    margin: 4px -13px;
    
}

ul.ListaPrincipal{
    list-style: none;
    display: flex;
    margin-right: -15px;
    font-size: 25px;
}

li{
    font-size: 25px;
}

a{
    margin: 0 10px;
    color:white;
    align-items: center;    
    text-decoration: none;
}

ul.ListaPrincipal :hover{
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}


h1{
    align-items: center; 
    color:white;
    display: flex;
    justify-content: center;
   
}

main{
    margin: 20px 8px;
    padding: 2px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgba(151, 148, 148, 0.808);
    border-radius: 20px;
    flex-direction: row-reverse;
}

.title{
    align-items: center; 
    color:white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px 7px;
}

ul.MisionVision{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -15px;
    font-size: 25px;
}

li.MisionVision{
    padding: 20px 0;
    color:white;
}

p.MisionVision{
    display:flex;
    justify-content: space-between;
    text-align: justify;
    padding: 0px 40px 0px 0px;
}


p.Inicio{
    display:flex;
    justify-content: space-between;
    text-align: justify;
    padding: 2px 40px 2px 2px;
    font-size: 30px;
  
}

ul.Inicio{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -15px;
    font-size: 30px;
    padding: 15px;
    
}

/*
@media (max-width: 1199.98px){
    nav ul li a{
        font-size: 25px
    }
}

@media (max-width: 699.98px){
    nav ul li a{
        font-size: 15px
    }
}
*/